html {
    line-height: 1.2;
    scroll-behavior: smooth;
    cursor: url(assets/main.png), pointer;
    font-family: trebuchet ms,Verdana,verdana ref,segoe ui,Candara,lucida grande,lucida sans unicode,lucida sans,Tahoma,sans-serif;
    background-color: #161617;
}

#index {
    color: #EBE6E3;
    font-size: 24px;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-title {
    margin: 0;
    text-align: center;
}

#home-subtitle {

    text-align: center;
    line-height: normal;
    font-size: 20px;
    font-style: italic;
    opacity: .5;
}

#home-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

abbr {
    text-decoration: none;
}

a {
    color: #c8c8c8;
    text-decoration: none;
    padding: 0.2em;
}

;;a:visited {
    color: #605e5d;
}

a:hover {
    color: #D2738A;
    text-decoration: none;
}

a:active {
    color: #4c4748;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
  }
  
::-webkit-scrollbar-track {
    background: #6d778a;
  }
  
::-webkit-scrollbar-thumb {
    background: #333c4c;
  }
  
  
::-webkit-scrollbar-thumb:hover {
    background: #3B4252;
  }

.site-footer {
    font-size: .8em;
    text-align: center;
    width: 100%;
    height: 38px;
    position: absolute;
    bottom: 0;
    left: 0;
 }

#about {
    color: #EBE6E3;
    font-size: 1.4em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#about-title {
    text-align: left;
}

#about-par {
    display: block;
    text-align: justify;
    font-size: 1em;
    text-indent: 1em;
}

strong {
    color: #D2738A;
}

#renge-box {
    width: 40%;
    height: 40%;
    padding-bottom: 1.2em;
    border-radius: 50%;
}

.home-button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 16px;
    font-weight: bolder;
    border-radius: 6px;
    border-color: #D2738A;
    background: #D2738A;
    color: #EBE6E3;
	cursor: pointer;
    padding: 3px 6px;
}

.home-button:active {
    background-color: #a1596b;
    border-color: #a1596b;
    color: #b2afaf85;
    font-size: 18px;

}

.comment-button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 65%);
    
    font-size: 16px;
    font-weight: bolder;
    border-radius: 6px;
    border-color: #D2738A;
    background: #D2738A;
    color: #EBE6E3;
	cursor: pointer;
    padding: 4px 6px;
}

.comment-button:active {
    background-color: #a1596b;
    border-color: #a1596b;
    color: #b2afaf85;
    font-size: 18px;
}

#books-home {
    padding-left: 1em;
    color: #EBE6E3;
    font-size: 1em;
}

#books-subtitle {
    color: #018574;
    font-size: medium;
}

#books-home-button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 24px;
    font-weight: bolder;
    border-radius: 5px;
    border-color: #D2738A;
    background: #D2738A;
    color: #EBE6E3;
	cursor: pointer;
    padding: 3px 6px;
}

#books-home-button:active {
    background-color: #a1596b;
    border-color: #a1596b;
    color: #9a9795;
}

#books-nav {
    color: #D2738A;
    font-weight: bolder;
}

@media (max-width: 425px) {
    #index {
        font-size: 1.5em;
    }

    #about {
        width: 75vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        }
    
    #about-title {
        font-size: 1.5em;
    }

    #about-par {
        font-size: .7em;
    }

    #renge-box {
        width: 70%;
        height: 70%;
        padding: 16px;
    }

    .home-button {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -20%);
    }

    .comment-button {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 100%);
    }

    #books-subtitle {
        font-size: .7em;
    }

    #books-home-button {
        font-size: 16px;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 375px) {
    #index {
        font-size: 1em;
    }

    #home-subtitle {
        font-size: 15px;
    }

    #about {
        width: 75vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        }

    #about-title {
        font-size: 1em;
    }

    #about-par {
        font-size: 0.5em;
    }

    #renge-box {
        width: 70%;
        height: 70%;
        padding: 16px;
    }

    .home-button {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -20%);
    }

    .comment-button {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 100%);
    }

    #books-home {
        font-size: .9em;
    }
    

    #books-subtitle {
        font-size: .7em;
    }

    #books-home-button {
        font-size: 16px;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}